fastapi
uvicorn[standard]
python-multipart
python-dotenv

pymongo
dnspython

sentence-transformers
torch

langgraph
langgraph-checkpoint-mongodb

openai
groq

langfuse

beautifulsoup4
requests

mcp[cli]